@mixin vendorPrefix ( $attribute,  $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, "" {
#{ $prefix }#{ $attribute } :  $value;
}
}
.navbar {
      background-color: rgb(0, 121, 191) !important;

      .logout__button { 
            background-color: rgb(0, 158, 250);
            color: white;
            border: none;
            border-radius: 5px;
            padding: 0.5rem 0.8rem;

            &:focus {
                  outline: none !important;
            }
      }
}

.logoButton {
      background-color: rgb(1, 146, 230) !important;
      border: none;
      display: flex;
      align-items: center;
      border-radius: 5px;

      .logo--text { 
            color: white !important;
            padding-left: 0.5rem;
      }

      &:hover {
          background-color:   rgb(98, 195, 252) !important;
          @include vendorPrefix(transition, 1s)
      }
      
}